################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/BikeRentalApplication/FileContentIndex/da8865e9-6265-46da-adbf-e678343a88bb.vsidx
